#heading{
    font-size: larger;
    font-weight: bolder;
    text-align: center;
    margin-top: 16px;
}
.names{
    font-size: medium;
    font-weight: 500;
    color: rgb(41, 236, 41);
    text-align: center;
}